<div class='play-input'>
	<div class='curr-score'>
		<p>
			<span>{{this.countService.get()}}</span>
			<span>/ 118</span>
		</p>

	</div><div class='ele-form'>
		<div class='input-container'>
			<input type='text' placeholder='element' (input)='eleGuessCheck($event)'>

		</div><div class='play-container'>
			<input type='submit' value='give up' routerLink='/submit'>
		</div>
	</div>
</div>

<div class='periodic-table'>
	<div *ngFor = 'let ele of elementsService.eleArr' class={{ele.class}} data-id={{ele.name}}>
		<sup>{{ele.num}}</sup>
		<p *ngIf='ele.showName === true'>{{ele.abbr}}</p>
	</div>
</div>