<form #myform="ngForm" (ngSubmit)="scoreAndRedirect();">
	<div class='submit-container'>
		<input type='text' placeholder='name' name='name' required maxlength='15' pattern='^[a-zA-Z0-9]{1,15}$' [(ngModel)]="mywebapiService.name">

		<p class='error' *ngIf='!mywebapiService.name.match(this.re)'>name can only contain alphanumeric characters</p>

		<select name='topping' [(ngModel)]="mywebapiService.topping">
			<option disabled>pizza topping</option>
			<option value='mushroom'>mushroom</option>
			<option value='pepperoni'>pepperoni</option>
			<option value='olive'>olive</option>
			<option value='pineapple'>pineapple</option>
			<option value='pepper'>bell pepper</option>
			<option value='tomato'>tomato</option>
			<option value='onion'>onion</option>
		</select>

		<input type='submit' value='submit score'>
	</div>
</form>